.container {
	max-width: 1024px;
	margin: auto;
}

.avatar {
	width: 100px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 3px rgba(0,0,0,.5);
}

.hero {
	padding: 20px;
	color: #ffa600;
	background-color: #585858;
	border-radius: 20px;
}
